.col-md-3.dashboard
  %h5.title-admin COURSES
  %p= link_to "CREATE",   new_admin_course_path, class: "btn btn-xs btn-success btn-create"
  %p= link_to "Active",   active_admin_courses_path
  %p= link_to "Pending",  pending_admin_courses_path
  %p= link_to "Archived", archived_admin_courses_path
  %p= link_to "View All", admin_courses_path