.container
  .row
    .col-md-12
      = image_tag("#{current_user.image}", class: "img-circle img-dashboard")
      %h3.title-admin Welcome #{first_name(current_user.name)}
      %h6.logout= link_to "LOGOUT", logout_path
  .row
    = render "admin/sidebar"
    .col-md-8.dashboard
      %h5.title-admin All COURSES
      = render "admin/course/courses"